<div class="row mt-4">
  <div class="col">
    <h3>
      <%= make_title_case(@list.name) %>
    </h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <hr>
  </div>
</div>
<div class="row">
  <div class="col">
    <%= link_to "<< Return to Lists", lists_path %>
  </div>
</div>
<div class="row">
  <div class="col">
    <hr>
  </div>
</div>

<div class="row">
  <!-- list begin -->
  <div class="col border my-1 mx-4 p-4 bg-dark text-white rounded shadow">
    <ul class="list-group text-dark">
      <li class="list-group-item py-3">
        <%= form_for [@list, @item] do |f| %>
          <div class="form-row">
            <div class="col">
              <%= f.text_field :description, class: "form-control", placeholder: "#{@item.errors.full_messages_for(:description).first || 'Add a New Item'}" %>
            </div>
          </div>
        <% end %>
      </li>
      <% @list.items.each do |item| %>
        <li class="list-group-item py-3 <%= 'completed' if item.complete? %>">
          <%= form_for [@list, item], html: { class: "check-form" } do |f| %>
            <%= f.check_box :status, class: "toggle", checked: (true if item.complete?) %>
          <% end %>
          <span class="pl-3">
            <%= item.description %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>
  <!-- list end -->
</div>