<!DOCTYPE html>
<html>
  <head>
    <title>PracticeJune2019RailsTodomvc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render "layouts/notice" %>

    <div class="container">
      <div class="row mt-3">
        <%= render "layouts/user_info" %>
        <%= render "layouts/logout" %>
      </div>
    </div>
    
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
